<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <% skills.forEach(function(skill) { %> 
      <li>
        <a href="/skills/<%= skill.id %>"><%= skill.skill %> </a>
        <div>Level: <%=skill.level %></div>
        <div>Time: <%= time %></div>
        <a href="/skills/new">Add Skill</a>
        <form action="/skills/<%= skill.id%>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
      </li>  
    <% }) %>
    
  </body>
</html>
